<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 id="tableTitle" class="page-pretitle">
        Administration
      </h2>
      <h2 class="page-title">
        Actualités
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="d-flex">
        <a href="javascript:void(0)"  style="cursor: pointer" class="btn btn-primary me-3" (click)="onClickAddNew()">
          <ebad-icon name="plus"></ebad-icon>
          Nouvelle actualités
        </a>
      </div>
    </div>
  </div>
</div>
<ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></ebad-show-hide-column>
<div class="card" (resized)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listNews"  aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="newId">
          ID
        </th>
        <th id="newTitle">
          Titre
        </th>
        <th id="newDraft">
          Brouillon
        </th>
        <th id="newDate">
          Date
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oneNew of news">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{oneNew.id}}
        </td>
        <td class="align-middle" *ngIf="columns[1].visible">
          {{oneNew.title}}
        </td>
        <td class="align-middle" *ngIf="columns[2].visible">
          {{oneNew.draft | yesno}}
        </td>
        <td class="align-middle" *ngIf="columns[3].visible">
          {{oneNew.createdDate | date : 'dd-MM-yyyy'}}
        </td>
        <td class="text-center" *ngIf="columns[4].visible">
          <a (click)="editNew(oneNew)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a (click)="deleteNew(oneNew)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
