<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="page-pretitle">
        Administration
      </h2>
      <h2 class="page-title">
        Actualités
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ml-auto d-print-none">
      <div class="d-flex">
        <a href="javascript:void(0)"  style="cursor: pointer" class="btn btn-primary mr-3" (click)="onClickAddNew()">
          <ebad-icon name="plus"></ebad-icon>
          Nouvelle application
        </a>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="table-responsive">
    <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="newId">
          ID
        </th>
        <th id="newTitle">
          Title
        </th>
        <th id="newDraft">
          Draft
        </th>
        <th id="newDate">
          Date
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let oneNew of news">
        <td class="align-middle">
          {{oneNew.id}}
        </td>
        <td class="align-middle">
          {{oneNew.title}}
        </td>
        <td class="align-middle">
          {{oneNew.draft}}
        </td>
        <td class="align-middle">
          {{oneNew.createdDate | date : 'dd-MM-yyyy'}}
        </td>
        <td class="text-center">
          <a (click)="editNew(oneNew)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a (click)="deleteNew(oneNew)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
