<div class="card">
  <div class="table-responsive">
    <table aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="accReqId">
          {{'ACCREDITATION.ID' | translate}}
        </th>
        <th id="accReqUser" *ngIf="!userOnly">
          {{'ACCREDITATION.USER' | translate}}
        </th>
        <th id="accReqApp">
          {{'ACCREDITATION.APPLICATION' | translate}}
        </th>
        <th id="accReqWantUse">
          {{'ACCREDITATION.USERIGHT' | translate}}
        </th>
        <th id="accReqWantManage">
          {{'ACCREDITATION.MANAGERIGHT' | translate}}
        </th>
        <th id="accReqState">
          {{'ACCREDITATION.STATE' | translate}}
        </th>
        <th id="actions" *ngIf="!userOnly">
          {{'ACTIONS' | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let accReq of accreditationsRequests">
        <td class="align-middle">
          {{accReq.id}}
        </td>
        <td class="align-middle" *ngIf="!userOnly">
          {{accReq.user.login}}
        </td>
        <td class="align-middle">
          {{accReq.application.name}}
        </td>
        <td class="align-middle">
          {{accReq.wantUse | yesno}}
        </td>
        <td class="align-middle">
          {{accReq.wantManage | yesno}}
        </td>
        <td class="align-middle">
          {{accReq.state}}
        </td>
        <td class="text-center" *ngIf="!userOnly">
          <a (click)="accept(accReq)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'ACCREDITATION.ALLOW' | translate}}</a>
          <a (click)="reject(accReq)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'ACCREDITATION.REJECT' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
