<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="page-pretitle">
        {{'ACCREDITATION.SYNTHESIS' | translate}}
      </h2>
      <h2 id="tableTitle" class="page-title">
        {{'ACCREDITATION.REQUEST_TITLE' | translate}}
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ml-auto d-print-none">
      <div class="d-flex">
        <a  href="javascript:void(0)"  class="btn btn-primary mr-3 cursor-pointer" (click)="requestAccreditation()">
          <ebad-icon name="plus"></ebad-icon>
          {{'ACCREDITATION.NEW_REQUEST' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <app-list-accreditation-request [userOnly]="false"></app-list-accreditation-request>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <app-list-accreditation-request [userOnly]="true"></app-list-accreditation-request>
  </div>
</div>
