<form (ngSubmit)="identityForm.form.valid && addIdentity()" #identityForm="ngForm" id="addIdentityForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">{{'IDENTITY.NAME' | translate}}</label>
      <div class="input-group">
        <input required id="name" class="form-control" placeholder="{{'IDENTITY.NAME' | translate}}" #name="ngModel"
               name="name"
               [(ngModel)]="identity.name"
               [ngClass]="{ 'is-invalid': identityForm.submitted && name.invalid }">
        <div *ngIf="identityForm.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">{{'IDENTITY.NAME' | translate}} requis</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="login">{{'IDENTITY.LOGIN' | translate}}</label>
      <div class="input-group">
        <input required id="login" class="form-control" placeholder="{{'IDENTITY.LOGIN' | translate}}" #login="ngModel"
               name="login"
               [(ngModel)]="identity.login"
               [ngClass]="{ 'is-invalid': identityForm.submitted && login.invalid }">
        <div *ngIf="identityForm.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="login.errors.required">{{'IDENTITY.LOGIN' | translate}} requis</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">{{'IDENTITY.PASSWORD' | translate}}</label>
      <div class="input-group">
        <input id="password" class="form-control" placeholder="{{'IDENTITY.PASSWORD' | translate}}" #password="ngModel"
               name="password"
               [(ngModel)]="identity.password"
               [ngClass]="{ 'is-invalid': identityForm.submitted && password.invalid }">
      </div>
    </div>
    <div class="form-group">
      <label for="privatekey">{{'IDENTITY.PRIVATEKEY' | translate}}</label>
      <div class="input-group">
        <textarea id="privatekey" class="form-control" placeholder="{{'IDENTITY.PRIVATEKEY' | translate}}" #privatekey="ngModel"
               name="privatekey"
               [(ngModel)]="identity.privatekey"
                  [ngClass]="{ 'is-invalid': identityForm.submitted && login.invalid }"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="privatekeyPath">{{'IDENTITY.PRIVATEKEY_PATH' | translate}}</label>
      <div class="input-group">
        <input id="privatekeyPath" class="form-control" placeholder="{{'IDENTITY.PRIVATEKEY_PATH' | translate}}" #privatekeyPath="ngModel"
               name="privatekeyPath"
               [(ngModel)]="identity.privatekeyPath"
               [ngClass]="{ 'is-invalid': identityForm.submitted && privatekeyPath.invalid }">
      </div>
    </div>
    <div class="form-group">
      <label for="passphrase">{{'IDENTITY.PASSPHRASE' | translate}}</label>
      <div class="input-group">
        <input id="passphrase" class="form-control" placeholder="{{'IDENTITY.PASSPHRASE' | translate}}" #passphrase="ngModel"
               name="passphrase"
               [(ngModel)]="identity.passphrase"
               [ngClass]="{ 'is-invalid': identityForm.submitted && passphrase.invalid }">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Annuler</button>
    <button type="submit" class="btn btn-outline-dark">{{action}}</button>
  </div>
</form>
