<app-env-app-head-selector [title]="applicationSelected?.name" preTitle="Gestion des environnements" (applicationChanged)="applicationChanged($event)"
                           [showEnvironment]="false" [isModarable]="true">
<span header>
  <a id="addEnvAction" href="javascript:void(0)" *ngIf="addEnvironmentEnabled && applicationSelected" style="cursor: pointer"
     class="btn btn-primary me-3" (click)="onClickAddEnvironment()">
    <ebad-icon name="plus"></ebad-icon>
    Nouvel environnement
  </a>
  <a id="importEnvAction" href="javascript:void(0)" *ngIf="importEnvironmentEnabled && applicationSelected" style="cursor: pointer"
     class="btn btn-primary" (click)="onClickImportEnvironments()">
    <ebad-icon name="download"></ebad-icon>
    Importer les environnements
  </a>
</span>
</app-env-app-head-selector>

<ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></ebad-show-hide-column>
<div class="card" (resized)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listMEnvironments" aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="envId">
          ID
        </th>
        <th id="envName">
          Nom
        </th>
        <th id="envHost">
          Serveur
        </th>
        <th id="envIdentity">
          Identité
        </th>
        <th id="envHome">
          Home
        </th>
        <th id="envPrefix">
          Prefix
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let env of environments">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{env.id}}
        </td>
        <td class="align-middle"  *ngIf="columns[1].visible">
          {{env.name}}
        </td>
        <td class="align-middle"  *ngIf="columns[2].visible">
          {{env.host}}
        </td>
        <td class="align-middle"  *ngIf="columns[3].visible">
          {{env.identity.name}}
        </td>
        <td class="align-middle"  *ngIf="columns[4].visible">
          {{env.homePath}}
        </td>
        <td class="align-middle"  *ngIf="columns[5].visible">
          {{env.prefix}}
        </td>
        <td class="text-center"  *ngIf="columns[6].visible">
          <a id="actionTerminal-{{env.name}}" (click)="onClickShowTerminal(env)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Terminal</a>
          <a id="actionEdit-{{env.name}}" (click)="editEnvironment(env)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a id="actionDelete-{{env.name}}" (click)="deleteEnvironment(env)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

