<app-env-app-head-selector title="Gestion des environnements" (applicationChanged)="applicationChanged($event)"
                           [showEnvironment]="false" [isModarable]="true">
<span header>
  <a href="javascript:void(0)" *ngIf="addEnvironmentEnabled && applicationSelected" style="cursor: pointer"
     class="btn btn-primary mr-3" (click)="onClickAddEnvironment()">
    <ebad-icon name="plus"></ebad-icon>
    Nouvel environnement
  </a>
  <a href="javascript:void(0)" *ngIf="importEnvironmentEnabled && applicationSelected" style="cursor: pointer"
     class="btn btn-primary" (click)="onClickImportEnvironments()">
    <ebad-icon name="download"></ebad-icon>
    Importer les environnements
  </a>
</span>
</app-env-app-head-selector>
<app-table *ngIf="applicationSelected"
           id="listEnvironnements"
           [title]="applicationSelected.name" [table]="table"
           (actionClicked)="onActionClicked($event)"
           (globalActionClicked)="onClickAddEnvironment()"
           (secondGlobalActionClicked)="onClickImportEnvironments()">
  <ngb-pagination footer class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="totalSize"
                  [pageSize]="size" [(page)]="page" (pageChange)="onPageChange($event)"
                  aria-label="Default pagination"></ngb-pagination>
</app-table>
