<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Modification date traitement</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="dateTraitement">Date traitement</label>
      <div class="input-group">
        <input id="dateTraitement" class="form-control" placeholder="dd/MM/yyyy" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="dateTraitement">
        <div class="input-group-append">
             <button class="btn btn-outline-secondary calendar" (click)="dp.toggle(); dp.dayTemplate" type="button"><i-feather name="calendar"></i-feather></button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="sendDateTraitement()">Changer</button>
</div>
