<div class="d-flex h-auto min-h-full justify-content-center">
  <div class="d-flex align-items-center justify-content-center flex-fill">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">

          <div class="text-center mb-4" style="font-size: 100px;font-weight: 600;">
            &gt;_&nbsp;&nbsp;EBAD
<!--            <img src="./assets/img/logo.svg" class="h-8" alt="">-->
          </div>
          <form class="card" [formGroup]="authForm" (ngSubmit)="submitForm()">

            <div class="card-body p-6">
                <div class="card-title">{{'LOGIN.INFO.LOGIN' | translate}}</div>
                <p *ngIf="error" class="text-danger">{{'LOGIN.ERROR.LOGIN' | translate}}</p>

              <div *ngIf="jwt">
                <div class="mb-2">
                  <label class="form-label" for="username">{{'LOGIN.LABEL.USERNAME' | translate}}</label>
                  <input formControlName="username" required type="email" class="form-control" id="username"
                         aria-describedby="emailHelp"
                         placeholder="{{'LOGIN.LABEL.USERNAME' | translate}}" autocomplete="off">
                </div>
                <div class="mb-2">
                  <!-- <a href="./forgot-password.html" class="float-right small">I forgot password</a> -->
                  <label class="form-label" for="password">
                    {{'LOGIN.LABEL.PASSWORD' | translate}}
                  </label>
                  <input formControlName="password" required type="password" class="form-control" id="password"
                         placeholder="{{'LOGIN.LABEL.PASSWORD' | translate}}" autocomplete="off">
                </div>
                <div class="mb-2">
                  <label class="custom-control custom-checkbox">
                    <input id="remember-me" type="checkbox" class="custom-control-input"/>
                    <span class="custom-control-label">{{'LOGIN.LABEL.REMEMBERME' | translate}}</span>
                  </label>
                </div>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!authForm.valid && jwt">{{'LOGIN.TITLE' | translate}}</button>
              </div>
            </div>
          </form>
          <!-- <div class="text-center text-muted">
             Don't have account yet? <a href="./register.html">Sign up</a>
           </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
