<app-env-app-head-selector preTitle="{{'CHAIN.TITLE' | translate}}" [title]="environmentSelected?.name" (environmentChanged)="environmentChanged($event)">
  <ebad-date-traitement header [infoEnvironment]="environmentSelectedInfo"></ebad-date-traitement>
</app-env-app-head-selector>

<app-ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></app-ebad-show-hide-column>
<div class="card" (ngxResize)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listFChains" aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
           class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="chainId">
          {{'CHAIN.ID' | translate}}
        </th>
        <th id="chainName">
          {{'CHAIN.NAME' | translate}}
        </th>
        <th id="chainDescription">
          {{'CHAIN.DESCRIPTION' | translate}}
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chain of chains">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{chain.id}}
        </td>
        <td class="align-middle" *ngIf="columns[1].visible">
          {{chain.name}}
        </td>
        <td class="align-middle" *ngIf="columns[2].visible">
          {{chain.description}}
        </td>
        <td class="text-center" *ngIf="columns[3].visible">
          <a (click)="runChain(chain)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'CHAIN.RUN' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

