<app-env-app-head-selector title="Gestion des batchs" (applicationChanged)="applicationChanged($event)" [showEnvironment]="false" [isModarable]="true"></app-env-app-head-selector>
<app-table *ngIf="applicationSelected"
           [title]="applicationSelected.name" [table]="table"
           (actionClicked)="onActionClicked($event)"
          (globalActionClicked)="onClickAddBatch()">
  <ngb-pagination footer class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="totalSize" [pageSize]="size" [(page)]="page" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
</app-table>
