<div class="card">
  <div class="table-responsive">
    <table datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th class="w-1p"><input class="form-check-input m-0 align-middle" type="checkbox"></th>
        <th *ngFor="let columnDef of table.settings.columnsDefinition | keyvalue: valueAscOrder" class="border-0">
          {{columnDef.value.title}}
        </th>
        <th *ngIf="table.settings.actionsDefinition.actions.length > 0" class="border-0 text-center">
          {{table.settings.actionsDefinition.title}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of table.items; index as lineNumber">
        <td><input class="form-check-input m-0 align-middle" type="checkbox"></td>
        <td *ngFor="let columnDef of table.settings.columnsDefinition | keyvalue: valueAscOrder" class="align-middle">
          <span [innerHTML]="item[columnDef.key]"></span>
        </td>
        <td class="text-center">
          <div class="btn-group btn-group-sm" role="group">
            <button *ngFor="let action of table.settings.actionsDefinition.actions" type="button"
                    class="btn btn-primary" name="{{action.id}}" id="{{action.id}}-{{lineNumber}}"
                    (click)="onClick($event,item)">
              {{action.label}}
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
