<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Suppression du batch {{batch.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Attention, cela va modifier vos chaines et supprimer les logs liés à ce batch. <br/>
  Souhaitez-vous réellement supprimer le batch {{batch.name}} ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Annuler</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Supprimer</button>
</div>
