<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Administration des utilisateurs</h1>
</div>
<div class="row mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header py-1 d-flex" *ngIf="jwt">
        <div class="ml-auto">
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="onClickAddUser()">
            Ajouter un utilisateur
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped table-sm mb-0">
          <thead>
          <tr>
            <th class="border-0">
              Etat
            </th>
            <th class="border-0">
              Login
            </th>
            <th class="border-0">
              Prénom
            </th>
            <th class="border-0">
              Nom
            </th>
            <th class="border-0">
              Autorisations
            </th>
            <th class="border-0">
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="users && users.length === 0">
            <td colspan="100%">Aucun élément</td>
          </tr>
          <tr *ngFor="let user of users">
            <td class="align-middle">
              <i-x-circle *ngIf="!user.activated" (click)="onClickActivateUser(user)"></i-x-circle>
              <i-check-circle *ngIf="user.activated" (click)="onClickInactivateUser(user)"></i-check-circle>
            </td>
            <td class="align-middle">
              {{user.login}}
            </td>
            <td class="align-middle">
              {{user.firstName}}
            </td>
            <td class="align-middle">
              {{user.lastName}}
            </td>
            <td class="align-middle">
              <span *ngFor="let authority of user.authorities" class="badge badge-primary mr-2">{{authority.name}}</span>
            </td>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group" *ngIf="jwt">
                <button type="button" class="btn btn-primary" id="modify-{{user.id}}" (click)="onClickModifyUser(user)">
                  Modifier
                </button>
                <button type="button" class="btn btn-primary" id="roles-{{user.id}}" (click)="onClickChangeRole(user)">
                  Roles
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
