<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="page-title">
        Users
      </h2>
    </div>
    <div class="col-auto">
      <div class="text-muted text-h5 mt-2">{{peoplesPage.from}} - {{peoplesPage.to}} sur {{peoplesPage.of}} personnes</div>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ms-auto d-print-none">
      <div class="d-flex">
        <input #input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search user&hellip;"/>
        <a href="javascript:void(0)"  style="cursor: pointer" class="btn btn-primary" (click)="onClickAddUser()">
          <ebad-icon name="plus"></ebad-icon>
          New user
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6" *ngFor="let user of users | paginate: pagination">
    <div class="card">
      <div class="card-body">
        <div class="row row-sm align-items-center">
          <div class="col-auto">
            <span class="avatar avatar-md">{{user | avatar}}</span>
          </div>
          <div class="col">
            <h3 class="mb-0"><a>{{user.firstName}} {{user.lastName}}</a></h3>
            <div class="text-muted text-h5">{{user.login}}</div>
          </div>
          <div class="col-auto lh-1 align-self-start">
            <span style="cursor: pointer" *ngIf="user.activated" class="badge bg-green-lt" (click)="onClickInactivateUser(user)">Activated</span>
            <span style="cursor: pointer" *ngIf="!user.activated" class="badge bg-red-lt" (click)="onClickActivateUser(user)">Unactivated</span>
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <span *ngFor="let authority of user.authorities">
              <span class="badge bg-gray-lt">{{authority.name}}</span>
              &nbsp;
            </span>
          </div>
          <div class="col-auto">
            <div class="btn-list">
              <a href="javascript:void(0);" class="btn btn-secondary btn-sm" id="modify-{{user.id}}" (click)="onClickModifyUser(user)">
                Edit
              </a>
              <a href="javascript:void(0);" class="btn btn-secondary btn-sm" id="roles-{{user.id}}" (click)="onClickChangeRole(user)">
                Roles
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <pagination-controls class="pagination ms-auto" (pageChange)="changePage($event)"></pagination-controls>
</div>
