<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <div id="tableTitle" *ngIf="preTitle" class="page-pretitle">
        {{preTitle}}
      </div>
      <h2 class="page-title">
        {{title}}
      </h2>
    </div>
    <div class="col-auto ml-auto d-print-none">
      <div class="d-flex">
        <form class="form-inline">
          <select [name]="select.id" *ngFor="let select of selects; let indexSelect = index"
                  (change)="onSelect($event, indexSelect)" id="{{select.id}}" class="form-select  mr-3">
            <option *ngFor="let option of select.options; let indexOption = index"
                    [value]="indexOption" [selected]="option.selected">{{option.label}}</option>
          </select>
        </form>
        <ng-content select="[header]"></ng-content>
      </div>
    </div>
  </div>
</div>
