<app-env-app-head-selector preTitle="{{'BATCH.TITLE' | translate}}" [title]="environmentSelected?.name"
                           (environmentChanged)="environmentChanged($event)">
<ebad-date-traitement header [infoEnvironment]="environmentSelectedInfo"></ebad-date-traitement>
</app-env-app-head-selector>

<app-ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></app-ebad-show-hide-column>
<div class="card" (ngxResize)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listFBatchs" aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
           class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="batchId">
          {{'BATCH.ID' | translate}}
        </th>
        <th id="batchName">
          {{'BATCH.NAME' | translate}}
        </th>
        <th id="batchShell">
          {{'BATCH.SHELL' | translate}}
        </th>
        <th id="batchDefaultParam">
          {{'BATCH.DEFAULT_PARAMETERS' | translate}}
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let batch of batchs">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{batch.id}}
        </td>
        <td class="align-middle" *ngIf="columns[1].visible">
          <span *ngIf="currentJob.indexOf(batch.id) != -1" class="badge bg-yellow"><ebad-icon name="refresh-cw"></ebad-icon> {{'BATCH.IS_RUNNING' | translate}}</span>
          {{batch.name}}
        </td>
        <td class="align-middle" *ngIf="columns[2].visible">
          {{batch.path}}
        </td>
        <td class="align-middle" *ngIf="columns[3].visible">
          {{batch.defaultParam}}
        </td>
        <td class="text-center" *ngIf="columns[4].visible">
          <a (click)="runBatch(batch,true)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'BATCH.RUN' | translate}}</a>
          <a (click)="runBatchWithCustomParam(batch)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'BATCH.RUN_WITH_PARAMETERS' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


