<app-env-app-head-selector preTitle="Batchs" [title]="environmentSelected?.name"
                           (environmentChanged)="environmentChanged($event)">
<ebad-date-traitement header [infoEnvironment]="environmentSelectedInfo"></ebad-date-traitement>
</app-env-app-head-selector>

<div class="card">
  <div class="table-responsive">
    <table aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable
           class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="batchId">
          ID
        </th>
        <th id="batchName">
          Nom
        </th>
        <th id="batchShell">
          Shell
        </th>
        <th id="batchDefaultParam">
          Paramètres par défaut
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let batch of batchs">
        <td class="align-middle">
          {{batch.id}}
        </td>
        <td class="align-middle">
          {{batch.name}}
        </td>
        <td class="align-middle">
          {{batch.path}}
        </td>
        <td class="align-middle">
          {{batch.defaultParam}}
        </td>
        <td class="text-center">
          <a (click)="runBatch(batch,null)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Lancer</a>
          <a (click)="runBatchWithCustomParam(batch)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Lancer avec paramètre</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


