<div class="wrapper" *appShowAuthed="true">
  <aside class="sidebar sidebar-dark" ebad-aside *ngIf="asideVisible"></aside>
  <div class="content">
    <header app-ebad-header class="topnav topbar"></header>
    <div class="content-page">
      <main class="container my-4 flex-fill">
        <ng-container *ngTemplateOutlet="template"></ng-container>
      </main>
    </div>
  </div>
</div>

<div *appShowAuthed="false">
  <ng-container *ngTemplateOutlet="template">Chargement de votre application en cours...</ng-container>
</div>
<ng-template #template>
  <router-outlet>
  </router-outlet>
</ng-template>

<ebad-toasts class="toast-container position-absolute p-3 bottom-0 end-0"></ebad-toasts>

