<app-env-app-head-selector preTitle="Gestion des répertoires" [title]="environmentSelected?.name" (environmentChanged)="environmentChanged($event)" [showEnvironment]="true" [isModarable]="true">
<span header>
  <a id="addFolder" href="javascript:void(0)" *ngIf="environmentSelected" style="cursor: pointer"
     class="btn btn-primary mr-3" (click)="onClickAddDirectory()">
    <ebad-icon name="plus"></ebad-icon>
    Nouveau répertoire
  </a>
</span>
</app-env-app-head-selector>

<ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></ebad-show-hide-column>
<div class="card" (resized)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listMDirectories" aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="directoryId">
          ID
        </th>
        <th id="directoryName">
          Nom
        </th>
        <th id="directoryPath">
          Chemin relatif
        </th>
        <th id="directoryCanWrite">
          Droit d'écriture
        </th>
        <th id="directoryCanExplore">
          Droit d'explorer
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let directory of directories">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{directory.id}}
        </td>
        <td class="align-middle" *ngIf="columns[1].visible">
          {{directory.name}}
        </td>
        <td class="align-middle" *ngIf="columns[2].visible">
          {{directory.path}}
        </td>
        <td class="align-middle" *ngIf="columns[3].visible">
          {{directory.canWrite | yesno}}
        </td>
        <td class="align-middle" *ngIf="columns[4].visible">
          {{directory.canExplore | yesno}}
        </td>
        <td class="text-center" *ngIf="columns[5].visible">
          <a id="actionEdit-{{directory.name}}" (click)="editDirectory(directory)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a id="actionDelete-{{directory.name}}" (click)="deleteDirectory(directory)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

