<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i-bar-chart-2></i-bar-chart-2>
          {{ 'MENU.DASHBOARD' | translate}}
        </a>
      </li>
    </ul>

    <h6 *hasRole="'ROLE_USER'" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>{{'MENU.FUNCTION.TITLE' | translate}}</span>
    </h6>
    <ul *hasRole="'ROLE_USER'" class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/batchs" routerLinkActive="active">
          <i-terminal></i-terminal>
          {{'MENU.FUNCTION.BATCHS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/chains" routerLinkActive="active">
          <i-link></i-link>
          {{'MENU.FUNCTION.CHAINS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/files" routerLinkActive="active">
          <i-folder></i-folder>
          {{'MENU.FUNCTION.FILES' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/traces" routerLinkActive="active">
          <i-activity></i-activity>
          {{'MENU.FUNCTION.TRACES' | translate}}
        </a>
      </li>
    </ul>

    <h6 *hasRole="'ROLE_MODO'" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span> {{'MENU.MANAGEMENT.TITLE' | translate}}</span>
    </h6>
    <ul *hasRole="'ROLE_MODO'" class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/batchs" routerLinkActive="active" id="batchManageMenu">
          <i-terminal></i-terminal>
          {{'MENU.MANAGEMENT.BATCHS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/chains" routerLinkActive="active">
          <i-link></i-link>
          {{'MENU.MANAGEMENT.CHAINS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/directories" routerLinkActive="active">
          <i-folder></i-folder>
          {{'MENU.MANAGEMENT.FOLDERS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/naming" routerLinkActive="active">
          <i-edit></i-edit>
          {{'MENU.MANAGEMENT.NAMING' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage/environments" routerLinkActive="active" id="environnementMenu">
          <i-server></i-server>
          {{'MENU.MANAGEMENT.ENVIRONMENTS' | translate}}
        </a>
      </li>
    </ul>

    <h6 *hasRole="'ROLE_ADMIN'" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>{{'MENU.ADMINISTRATION.TITLE' | translate}}</span>
    </h6>
    <ul *hasRole="'ROLE_ADMIN'" class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
          <i-users></i-users>
          {{'MENU.ADMINISTRATION.USERS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/applications" routerLinkActive="active" id="applicationMenu">
          <i-layers></i-layers>
          {{'MENU.ADMINISTRATION.APPLICATIONS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/norms" routerLinkActive="active" id="normeMenu">
          <i-flag></i-flag>
          {{'MENU.ADMINISTRATION.NORMS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/news" routerLinkActive="active">
          <i-inbox></i-inbox>
          {{'MENU.ADMINISTRATION.ACTUALITIES' | translate}}
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>{{'MENU.OTHERS.TITLE' | translate}}</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-life-buoy></i-life-buoy>
          {{'MENU.OTHERS.HELP' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-git-commit></i-git-commit>
          {{'MENU.OTHERS.CHANGELOG' | translate}}
        </a>
      </li>
    </ul>
  </div>
</nav>
