<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Suppression du répertoire {{directory.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 Souhaitez-vous réellement supprimer le répertoire {{directory.name}} ?
</div>
<div class="modal-footer">
  <button id="cancelBtn" type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Annuler</button>
  <button id="deleteBtn" type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Supprimer</button>
</div>
