<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="page-pretitle">
        Administration
      </h2>
      <h2 class="page-title">
        Applications
      </h2>
    </div>
    <!-- Page title actions -->
    <div class="col-auto ml-auto d-print-none">
      <div class="d-flex">
        <a *ngIf="addApplicationEnabled" href="javascript:void(0)"  style="cursor: pointer" class="btn btn-primary mr-3" (click)="onClickAddApplication()">
          <ebad-icon name="plus"></ebad-icon>
          Nouvelle application
        </a>

        <a *ngIf="importApplicationEnabled" href="javascript:void(0)"  style="cursor: pointer" class="btn btn-primary" (click)="onClickImportApplications()">
          <ebad-icon name="download"></ebad-icon>
          Importer des applications
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="table-responsive">
    <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th class="w-1p" id="selectbox"><input class="form-check-input m-0 align-middle" type="checkbox"></th>
        <th id="appCode">
          Code
        </th>
        <th id="appName">
          Nom
        </th>
        <th id="appParamPattern">
          Pattern paramètre
        </th>
        <th id="appFilePattern">
          Pattern fichier
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let app of applications; index as lineNumber">
        <td><input class="form-check-input m-0 align-middle" type="checkbox"></td>
        <td class="align-middle">
         {{app.code}}
        </td>
        <td class="align-middle">
         {{app.name}}
        </td>
        <td class="align-middle">
         {{app.dateParametrePattern}}
        </td>
        <td class="align-middle">
         {{app.dateFichierPattern}}
        </td>
        <td class="text-center">
          <a (click)="editApplication(app)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a (click)="deleteApplication(app)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
          <a (click)="usersApplication(app)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Users</a>
          <a (click)="managersApplication(app)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Manages</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
