<app-head-selector title="{{title}}" (changed)="showChanged($event)" [selects]="selectHead"></app-head-selector>
<div class="row mb-4" *ngIf="directorySelected && directorySelected.canWrite">
  <div class="col-12">
    <div class="card">
      <div class="card-header py-1">
        {{'FILE.SEND_FILE_TITLE' | translate}}
      </div>
      <div class="card-body p-0">
        <div class="m-4">
          <ngx-file-drop showBrowseBtn="true"
                     browseBtnLabel="{{'FILE.BROWSE' | translate}}"
                     (onFileDrop)="dropped($event)">
            <span class="mr-2">{{'FILE.DRAG_AND_DROP' | translate}}</span>
          </ngx-file-drop>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6" *ngIf="directorySelected && directorySelected.canWrite">
    <div class="card">
      <div class="table-responsive">
        <table aria-describedby="tableTitle" class="table card-table table-vcenter text-nowrap datatable">
          <thead>
          <tr>
            <th id="filename">
              {{'FILE.NAME' | translate}}
            </th>
            <th id="fileSize">
              {{'FILE.SIZE' | translate}}
            </th>
            <th id="fileProgress">
              {{'FILE.PROGRESSION' | translate}}
            </th>
            <th id="fileState">
              {{'FILE.STATE' | translate}}
            </th>
            <th id="actions">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="localFiles.length == 0">
            <td colspan="100%">{{'FILE.NO_FILE_TO_SEND' | translate}}</td>
          </tr>
          <tr *ngFor="let file of localFiles">
            <td class="align-middle">
              {{file.customName}}
            </td>
            <td class="align-middle">
              {{file.size}}
            </td>
            <td class="align-middle">
            </td>
            <td class="align-middle">
            </td>
            <td class="text-center">
              <a (click)="deleteLocalFile(file)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'FILE.DELETE' | translate}}</a>
              <a (click)="renameLocalFile(file)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'FILE.RENAME' | translate}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn btn-block" (click)="upload()">
      <i class="glyphicon glyphicon-open-file"></i>&nbsp;{{'FILE.SEND_TO_REMOTE' | translate}}
    </button>
  </div>
  <div class="col" *ngIf="directorySelected">
    <div class="card">
      <div class="table-responsive">
        <table aria-describedby="tableTitle" class="table card-table table-vcenter text-nowrap datatable">
          <thead>
          <tr>
            <th id="remoteFileName">
              {{'FILE.NAME' | translate}}
            </th>
            <th id="remoteFileSize">
              {{'FILE.SIZE' | translate}}
            </th>
            <th id="remoteFileCreationDate">
              {{'FILE.CREATION_DATE' | translate}}
            </th>
            <th id="remoteFileActions">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="remoteFiles.length == 0">
            <td colspan="100%">{{'FILE.NO_REMOTE_FILE' | translate}}</td>
          </tr>
          <tr *ngFor="let remotefile of remoteFiles">
            <td class="align-middle">
              {{remotefile.name}}
            </td>
            <td class="align-middle">
              {{remotefile.size}}
            </td>
            <td class="align-middle">
              {{remotefile.createDate | date : 'dd/MM/yyyy hh:mm:ss'}}
            </td>
            <td class="text-center">
              <a (click)="downloadRemoteFile(remotefile)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'FILE.DOWNLOAD' | translate}}</a>
              <a (click)="deleteRemoteFile(remotefile)" href="javascript:void(0)" class="btn btn-secondary btn-sm">{{'FILE.DELETE' | translate}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
