<form (ngSubmit)="userForm.form.valid && changeRoles()" #userForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="user">ROLE_USER</label>
      <div class="input-group">
        <input type="checkbox" id="user" class="form-control"
               name="user"
               [(ngModel)]="roles.roleUser">
      </div>
    </div>
    <div class="form-group">
      <label for="admin">ROLE_ADMIN</label>
      <div class="input-group">
        <input type="checkbox" id="admin" class="form-control"
               name="admin"
               [(ngModel)]="roles.roleAdmin">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel')">Annuler</button>
    <button type="submit" class="btn btn-outline-dark">{{action}}</button>
  </div>
</form>
