<div class="cover align-middle">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 ">
        <div class="d-flex justify-content-center">
          <h1 class="cover-heading">EBAD</h1>
        </div>
        <div class="d-flex justify-content-center">
          Execution des Batchs A Distance
        </div>
        <div class="d-flex justify-content-center">
          <p class="lead">Une seule et unique application pour lancer vos batchs sur plusieurs environnements et plusieurs serveurs !</p>
        </div>
        <div class="d-flex justify-content-center">
          <p class="lead">
            <a [routerLink]="'login'" class="btn btn-lg btn-secondary">Connexion</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
