<app-env-app-head-selector [title]="applicationSelected?.name" preTitle="Gestion des nommages"
                           (applicationChanged)="applicationChanged($event)" [showEnvironment]="false"
                           [isModarable]="true">
  <span header>
  <a href="javascript:void(0)" *ngIf="applicationSelected" style="cursor: pointer"
     class="btn btn-primary me-3" (click)="onClickAddNaming()">
    <ebad-icon name="plus"></ebad-icon>
    Nouveau nommage
  </a>
  </span>
</app-env-app-head-selector>

<ebad-show-hide-column [datatableElement]="dtElement" [columns]="columns"></ebad-show-hide-column>
<div class="card" (resized)="onResizeTable($event)">
  <div class="table-responsive">
    <table id="listMNaming" aria-describedby="tableTitle" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="table card-table table-vcenter text-nowrap datatable">
      <thead>
      <tr>
        <th id="namingId">
          ID
        </th>
        <th id="namingName">
          Nom
        </th>
        <th id="namingPattern">
        Pattern
        </th>
        <th id="actions">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let naming of namings">
        <td class="align-middle" *ngIf="columns[0].visible">
          {{naming.id}}
        </td>
        <td class="align-middle" *ngIf="columns[1].visible">
          {{naming.name}}
        </td>
        <td class="align-middle" *ngIf="columns[2].visible">
          {{naming.pattern}}
        </td>
        <td class="text-center" *ngIf="columns[3].visible">
          <a (click)="editNaming(naming)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Edit</a>
          <a (click)="deleteNaming(naming)" href="javascript:void(0)" class="btn btn-secondary btn-sm">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

