<app-head-selector preTitle="{{'HOME.TITLE' | translate}}" title="Tableau de bord"></app-head-selector>
<div class="row row-deck">
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>Users</div>
        </div>
        <div class="h1 mb-3" [countUp]="statistics?.usersNbr" [options]="optionsCountUp">0</div>
        <div class="d-flex mb-2">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>Batchs count</div>
        </div>
        <div class="d-flex align-items-baseline">
          <div class="h1 mb-0 mr-2" [countUp]="statistics?.batchsNbrs" [options]="optionsCountUp">0</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>Execution time</div>
        </div>
        <div class="d-flex align-items-baseline">
          <div class="h1 mb-3 mr-2" [countUp]="statistics?.avgExecutionTime" [options]="optionsCountUpMs">0</div>
        </div>
        <apx-chart #chartComponentAvgTime class="chart-sm" [autoUpdateSeries]="true" [series]="seriesAvgTime" [chart]="chart[1]" [stroke]="stroke" [xaxis]="xaxis" [colors]="colors" [fill]="fill" [labels]="labels" [legend]="legend"></apx-chart>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div>Batchs runned</div>
        </div>
        <div class="d-flex align-items-baseline">
          <div class="h1 mb-3 mr-2" [countUp]="statistics?.batchsRunnedNbrs" [options]="optionsCountUp">0</div>
        </div>
        <apx-chart #chartComponentBatchRunnedNbr class="chart-sm"  [series]="seriesBatchsNbr" [chart]="chart[2]" [stroke]="stroke" [xaxis]="xaxis" [colors]="colors" [fill]="fill" [labels]="labels" [legend]="legend"></apx-chart>
      </div>
    </div>
  </div>
</div>

<app-actuality-block></app-actuality-block>
