<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Suppression de l'application {{application.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cross-click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 Souhaitez-vous réellement supprimer l'application {{application.name}} ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" id="cancelBtn" (click)="activeModal.dismiss('cancel')">Annuler</button>
  <button type="button" class="btn btn-outline-dark" id="deleteBtn" (click)="activeModal.close()">Supprimer</button>
</div>
